:root {
  --font: '阿里妈妈灵动体 VF Thin', 'PingFangSC-Regular', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-bold: '阿里妈妈灵动体 VF Thin', 'PingFangSC-Semibold', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --theme-color: #39c5bb;
  --font-color: #414f73;
  --title-color: #0c1a40;
  --primary-color: #39c5bb;
  --secondary-color: #4fd5cd;
  --warning-color: #f5a623;
  --danger-color: #d0021b;
  --success-color:#7ed321;
  --info-color: #4a90e2;
  --bg-color: #f7f9fa;
}
