@import url('./styles/variable.css');

@font-face {
  font-family: 'HarmonyOS_Sans_Regular';
  font-style: normal;
  src: url('./assets/fonts/HarmonyOS_Sans_Regular');
  font-display: swap; /* or block, swap, fallback, optional */
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: '阿里妈妈灵动体 VF Thin';
  src:
    url('//at.alicdn.com/wf/webfont/31Xtj1xqxGxD/irOifx7DD3zc.woff2') format('woff2'),
    url('//at.alicdn.com/wf/webfont/31Xtj1xqxGxD/VY91ZzMbWW1B.woff') format('woff');
  font-display: swap;
}

html,
body {
  height: 100%;
  color: var(--color-font);
  font-family: var(--font);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d6d9e4;
    border: none;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #d6d9e4;
  }
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  color: var(--theme-color);
}
